* {
  box-sizing: border-box;
}
html, body {
  background: linear-gradient(to bottom, #4aba6e, #13a98c) center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  color: #1b3468;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 {
  font-size: 24px;
}
p {
  text-align: justify;
}
header {
  text-align: center;
}
.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 34px;
  text-align: center;
  background-color: #043626;
  color: gold;
  -webkit-text-stroke: 2px #1e5dbc;
  padding: 20px 5px;
}
ul.pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  flex: 0 0 50px; /*wenn flex-direction: column; dann ist hier Höhe gemeint*/
  margin: 0 auto;
  text-align: center;
}
.pokemon-button {
  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  width: 750px;
  color: #1b3468;
  text-align: center;
  margin: 10px 100px;
  padding: 40px;
  border: 1px dotted grey;
  border-radius: 4px;
  background-color: #0af8a980;
  transition: all 250ms;
  cursor: pointer;
}
.pokemon-button:hover {
  border: currentColor;
  background-color: lightgreen;
  color: #043626;
}
.message {
  text-align: center;
  font-weight: 700;
}
.hiding-message {
  display: none;
}
.loading-message {
  display: block;
}
/****Media Queries****/
@media all and (max-width: 980px) {
  .pokemon-button {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #1b3468;
    width: 500px;
    padding: 40px 150px;
    margin: 10px auto;
    border: 1px dotted grey;
    border-radius: 4px;
    background-color: #0af8a980;
    transition: all 250ms;
  }
  .pokemon-button:hover {
    border: currentColor;
    background-color: lightgreen;
  }
}
@media all and (max-width: 500px) {
  img[alt="pokemon-logo"] {
    width: 60%;
  }
  .pokemon-button {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #1b3468;
    width: 300px;
    padding: 30px 100px;
    margin: 10px auto;
    border: 1px dotted grey;
    border-radius: 4px;
    background-color: #0af8a980;
    transition: all 250ms;
  }
  .pokemon-button:hover {
    border: currentColor;
    background-color: lightgreen;
  }
}

/*Modal Styling*/
/*
#modal-container.is-visible {
  position: fixed;
  box-sizing: border-box;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content 
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough
  overflow: auto; 
  
  /* this is used to center the modal 
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fafab5;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

.modal h1 {
  text-align: center;
}

.modal p {
  text-align: center;
}
.modal div {
  margin-bottom: 20px;
}
.modal img {
  width: 150px;
}
#modal-container {
  display: none;
}
#modal-container.is-visible {
  display: block;
}
*/

